*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: black;
}
.ishika{
    height: 100%;
    width: 50%;
    background-color: aqua;
    padding: 20px;
    margin: 30px;
    padding-top: 20px;
}

.para{
    color:blueviolet;
}

p{
    color: white;
}

.second{
    background-color: brown;
    padding: 20px;
}